DB_FILE = "db.sqlite"
TOKEN = "<TOKEN HERE>"

DSEK_CLIENT_ID = "<Authentik ID>"
DSEK_CLIENT_SECRET = "<Authentik Secret>"
DSEK_REDIRECT_URI = "<Redirect URI>"

DISCORD_CLIENT_ID = "<Discord client id>"
DISCORD_CLIENT_SECRET = "<discord-client-secret>"
DISCORD_REDIRECT_URI = "<discord_redirect_uri>"
DISCORD_BOT_TOKEN = "<discord_bot_token>"

COOKIE_SECRET = "random cookie secret"
DATABASE_URL = postgresql://cpu:rasa-pantern@localhost/discord



POSTGRES_USER = cpu
POSTGRES_PASSWORD = "<Postgres password>"
POSTGRES_DB = discord
DB_HOST = postgres

WEBSITE_DB_URL = "<Website db url>"
